@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Acme", sans-serif;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(images/ice-cream-back1.jpg);
}

.image {
  width: 50px;
  height: auto;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px 0px 0px 5px;
  background-color: #df4d19;
}
h1, h2 {
  display: flex;
  justify-content: center;
}

h1 {
  color: hotpink;
  font-family: "Lobster", cursive, sans-serif;
  text-shadow: 2px 2px 2px rgb(200, 0, 160);
  font-weight: 400;
  font-size: calc(50px + 3vw);
  margin: 20px;
}

h2 {
  width: 500px;
  color: #7b3f00;
  font-family: "Acme", sans-serif;
  text-shadow: 2px 2px 2px rgb(200, 117, 117);
  box-shadow: 3px 3px 3px #ce5937;
  font-weight: 400;
  border-radius: 5px;
  font-size: calc(20px + 1vw);
  padding: 5px;
  margin-bottom: 10px;
  background-color: blanchedalmond;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #df4d19;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.label:hover {
  cursor: pointer;
  color: #e63870;
}

.radio, .checkbox, .aantal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: auto;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  background-color: #df4d19;
}

.aantal {
  display: none;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 10px;
  border-radius: 5px;
}

#chocoInput,
#vanilleInput,
#aardbeiInput {
  display: none;
}

.size {
  width: 20px;
  height: 20px;
}

.boxSize {
  width: 50px;
  height: 25px;
}

.wrapper1 {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-auto-rows: auto;
}

.ijsBeelden {
  width: 500px;
}

#beeldHorentje,
#beeldPotje {
  display: none;
}

.wrapper2 {
  width: 510px;
  height: auto;
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.4);
  backdrop-filter: blur(3px);
}

.keuze {
  display: grid;
  grid-template-columns: auto 70px 155px 60px auto;
  grid-auto-rows: auto;
}

#horentjeImg {
  grid-column: 2/3;
  grid-row: 1/2;
}

#potjeImg {
  grid-column: 2/3;
  grid-row: 2/3;
}

#horentje {
  grid-column: 3/4;
  grid-row: 1/2;
}

#potje {
  grid-column: 3/4;
  grid-row: 2/3;
}

#radiobtn1 {
  grid-column: 4/5;
  grid-row: 1/2;
}

#radiobtn2 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.smaak {
  display: grid;
  grid-template-columns: auto 70px 155px 60px auto;
  grid-auto-rows: auto;
}

#chocoImg {
  grid-column: 2/3;
  grid-row: 1/2;
}

#vanilleImg {
  grid-column: 2/3;
  grid-row: 2/3;
}

#aardbeiImg {
  grid-column: 2/3;
  grid-row: 3/4;
}

#choco {
  grid-column: 3/4;
  grid-row: 1/2;
}

#vanille {
  grid-column: 3/4;
  grid-row: 2/3;
}

#aardbei {
  grid-column: 3/4;
  grid-row: 3/4;
}

#checkbtn1 {
  grid-column: 4/5;
  grid-row: 1/2;
}

#checkbtn2 {
  grid-column: 4/5;
  grid-row: 2/3;
}

#checkbtn3 {
  grid-column: 4/5;
  grid-row: 3/4;
}

#aantalChoco {
  grid-column: 5/6;
  grid-row: 1/2;
}

#aantalVanille {
  grid-column: 5/6;
  grid-row: 2/3;
}

#aantalAardbei {
  grid-column: 5/6;
  grid-row: 3/4;
}

input {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  height: 45px;
}

.btns {
  width: 110px;
  border: none;
  margin-top: 5px;
  padding: 0px;
  font-size: 23px;
  color: white;
  box-shadow: 2px 2px 2px #ce5937;
  margin-bottom: -10px;
  border-radius: 5px;
  transition: all 0.6s;
  border: 2px blanchedalmond solid;
  font-family: "Acme", sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 2px black;
}

.btns:hover {
  cursor: pointer;
}

#btn1 {
  background-color: brown;
}

#btn1:hover {
  background-color: red;
}

#btn2 {
  background-color: limegreen;
}

#btn2:hover {
  background-color: green;
}

#h1, #h2, #h3, #h4 {
  width: 650px;
  left: 60vw;
  position: absolute;
}
.disapear {
  display: none;
}

#h1 {
  top: 35vh;
}

#h2 {
  top: 45vh;
}

#h3 {
  top: 55vh;
}

#h4 {
  top: 65vh;
}
